<!DOCTYPE html>
<html lang="en">
<head>
<title>Game Theory</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/styles.css" />
</head>
<body>

<div class="header">
  <h1>NBA Game Analysis</h1>
</div>

<div class="navbar">
    <a href="/statistics">Statistics</a>
    <a href="/scores">Scores</a>
    <a href="/trending">Trending News</a>
    <a href="/teams">Teams</a>
    <a href="/predictions"> Predictions </a>
    <a href="/contactus">Contact Us</a>
</div>

<div class="row">
  <div class="side">
    <h3>Statistics</h3>
    <p>Lorem ipsum dolor sit ame.</p>
    <div class="fakeimg" style="height:60px;"></div><br>
    <div class="fakeimg" style="height:60px;"></div><br>
    <div class="fakeimg" style="height:60px;"></div>
  </div>
  <div class="main">
    <h2>Top Projections</h2>
    <h5>Last Updated, Dec 7, 2017</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    <br>
    <h2>History</h2>
    <h5>Last Updated, Sep 2, 2017</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
  </div>
</div>

<div class="footer">
  <h2>Game Theory</h2>
</div>

</body>
</html>