<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/loginpage.css">
</head>
<body>
    <form class="form-signin">       
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control" name="username" placeholder="Email Address" required autofocus>
      <input type="password" class="form-control" name="password" placeholder="Password" required>      
      <button class="btn" type="submit">Login</button>   
    </form>
</body>
</html>
