<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NBA Predictions</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/predictions.css" />

  </head>
  <body>
    <header>
      <h1 class="header-title">NBA Game Analysis</h1>
      <nav>
          <ul>
              <li><a href="/">Home Page</a></li>
              <li><a href="/statistics">Statistics</a></li>
              <li><a href="/scores" class="active">Scores</a></li>
              <li><a href="/trending">Trending News</a></li>
              <li><a href="/teams">Teams</a></li>
              <li><a href="/predictions">Predictions</a></li>
              <li><a href="/contactus">Contact Us</a></li>
          </ul>
      </nav>
  </header>
    

    <div class="row">
      <div class="side">
        <h3>Prediction Insights</h3>
        <p>Key factors influencing upcoming matchups.</p>
        <ul>
          <li>Recent form of teams</li>
          <li>Player injuries</li>
          <li>Head-to-head statistics</li>
          <li>Home-court advantage</li>
          <li>Team chemistry</li>
          <li>Player fatigue</li>
          <li>Coaching strategies</li>
          <li>Defensive and offensive efficiency</li>
          <li>Turnover ratios</li>
          <li>Recent trades or player acquisitions</li>
          <li>Star player performance</li>
          <li>Bench depth</li>
          <li>Free throw percentage</li>
          <li>Three-point shooting accuracy</li>
        </ul>
      </div>
      <div class="main">
        <h2>Upcoming Match Predictions</h2>
        <h5>Updated March 6, 2025</h5>
        <div class="matchup-card">
          <h3>Lakers vs. Warriors</h3>
          <p>Projected Winner: Warriors (67% chance)</p>
        </div>
        <div class="matchup-card">
          <h3>Bucks vs. Heat</h3>
          <p>Projected Winner: Bucks (55% chance)</p>
        </div>
        <div class="matchup-card">
          <h3>Nets vs. Celtics</h3>
          <p>Projected Winner: Celtics (60% chance)</p>
        </div>
        <div class="matchup-card">
          <h3>Lakers vs. Bulls</h3>
          <p>Projected Winner: Lakers (58% chance)</p>
        </div>
      </div>
    </div>
  </body>
</html>
