<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team Scores</title>
  <link rel="stylesheet" href="/scores.css">
</head>
<body>

    <header>
        <h1>Latest Scores</h1>
    </header>
  <nav>
    <a href="/">Home Page</a>
    <a href="/statistics">Statistics</a>
    <a href="/scores">Scores</a>
    <a href="/trending">Trending News</a>
    <a href="/teams">Teams</a>
    <a href="/predictions"> Predictions </a>
    <a href="/contactus">Contact Us</a>
  </nav>
  <div class="grid-container">
    <div class="grid-item">
      <div class="team-info">
        <img src="https://cdn.iconscout.com/icon/free/png-256/free-toronto-raptors-logo-icon-download-in-svg-png-gif-file-formats--nba-basketball-game-ball-sport-pack-logos-icons-1593208.png" alt="Team 1 Logo" class="team-logo">
        <a href="teams.html">Team 1</a>
        <p class = "win">Score: 119</p>
      </div>
      <div class="team-info">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmaICiarC4q11sHLfeN7nJKAWfCYZyaw9oFw&s" alt="Team 2 Logo" class="team-logo">
        <a href="teams.html">Team 2</a>
        <p class = "lose">Score: 119</p>
      </div>
    </div>
    <div class="grid-item">
      <div class="team-info">
        <img src="https://cdn.iconscout.com/icon/free/png-256/free-toronto-raptors-logo-icon-download-in-svg-png-gif-file-formats--nba-basketball-game-ball-sport-pack-logos-icons-1593208.png" alt="Team 3 Logo" class="team-logo">
        <a href="teams.html">Team 3</a >
        <p class = "win">Score: 119</p>
      </div>
      <div class="team-info">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmaICiarC4q11sHLfeN7nJKAWfCYZyaw9oFw&s" alt="Team 4 Logo" class="team-logo">
        <a href="teams.html">Team 4</a >
        <p class = "lose">Score: 119</p>
      </div>
    </div>
    <div class="grid-item">
        <div class="team-info">
          <img src="https://cdn.iconscout.com/icon/free/png-256/free-toronto-raptors-logo-icon-download-in-svg-png-gif-file-formats--nba-basketball-game-ball-sport-pack-logos-icons-1593208.png" alt="Team 3 Logo" class="team-logo">
          <a href="teams.html">Team 3</a>
          <p class = "win">Score: 119</p>
        </div>
        <div class="team-info">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmaICiarC4q11sHLfeN7nJKAWfCYZyaw9oFw&s" alt="Team 4 Logo" class="team-logo">
          <a href="teams.html">Team 4</a>
          <p class = "lose">Score: 119</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="team-info">
          <img src="https://cdn.iconscout.com/icon/free/png-256/free-toronto-raptors-logo-icon-download-in-svg-png-gif-file-formats--nba-basketball-game-ball-sport-pack-logos-icons-1593208.png" alt="Team 3 Logo" class="team-logo">
          <a href="teams.html">Team 3</a>
          <p class = "win">Score: 119</p>
        </div>
        <div class="team-info">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmaICiarC4q11sHLfeN7nJKAWfCYZyaw9oFw&s" alt="Team 4 Logo" class="team-logo">
          <a href="teams.html">Team 4</a >
          <p class = "lose">Score: 119</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="team-info">
          <img src="https://cdn.iconscout.com/icon/free/png-256/free-toronto-raptors-logo-icon-download-in-svg-png-gif-file-formats--nba-basketball-game-ball-sport-pack-logos-icons-1593208.png" alt="Team 3 Logo" class="team-logo">
          <a href="teams.html">Team 3</a>
          <p class = "win">Score: 119</p>
        </div>
        <div class="team-info">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmaICiarC4q11sHLfeN7nJKAWfCYZyaw9oFw&s" alt="Team 4 Logo" class="team-logo">
          <a href="teams.html">Team 4</a>
          <p class = "lose">Score: 119</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="team-info">
          <img src="https://cdn.iconscout.com/icon/free/png-256/free-toronto-raptors-logo-icon-download-in-svg-png-gif-file-formats--nba-basketball-game-ball-sport-pack-logos-icons-1593208.png" alt="Team 3 Logo" class="team-logo">
          <a href="teams.html">Team 3</a >
          <p class = "win">Score: 119</p>
        </div>
        <div class="team-info">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmaICiarC4q11sHLfeN7nJKAWfCYZyaw9oFw&s" alt="Team 4 Logo" class="team-logo">
          <a href="teams.html">Team 4</a >
          <p class = "lose">Score: 119</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="team-info">
          <img src="https://cdn.iconscout.com/icon/free/png-256/free-toronto-raptors-logo-icon-download-in-svg-png-gif-file-formats--nba-basketball-game-ball-sport-pack-logos-icons-1593208.png" alt="Team 3 Logo" class="team-logo">
          <a href="teams.html">Team 3</a>
          <p class ="win">Score: 119</p>
        </div>
        <div class="team-info">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmaICiarC4q11sHLfeN7nJKAWfCYZyaw9oFw&s" alt="Team 4 Logo" class="team-logo">
          <a href="teams.html">Team 4</a>
          <p class ="lose">Score: 119</p>
        </div>
      </div>

  </div>

</body>
</html>
