<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams</title>
    <link rel="stylesheet" href="/teams.css">
</head>
<body>

    <header>
        <h1>Teams</h1>
    </header>

    <nav>
        <a href="/">Home Page</a>
        <a href="/statistics">Statistics</a>
        <a href="/scores">Scores</a>
        <a href="/trending">Trending News</a>
        <a href="/predictions"> Predictions </a>
        <a href="/contactus">Contact Us</a>
    </nav>

    <div class="grid-container" id="teamsGrid">
        
    </div>

    <script src="/js/teams.js"></script>

</body>
</html>
